@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{

    font-family: 'Roboto','Noto Sans KR', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    /* height: 200px; */

    padding:30px 0;
    left: 0;top: 0;
    background:rgba(255,255,255,0.6);  
    z-index:100;
}
header ul{
    display:flex;
    justify-content: end;
}
header ul li{
    margin:0 20px;
}
header ul li a{
    color:#fff;
}

#fullpage h1{
    font-size:6em;
    text-align:center;
}
#fullpage .footer .tit{
    float:left;
    font-size:12px;
    line-height:40px;
}
#fullpage .footer .copy{
    float:right;
    font-size:12px;
    line-height:40px;
}
#fullpage .contact .tit{
    text-align:center;
}
#fullpage .contact .tit p{
    font-size:3em;
    margin-bottom:20px;
}
#fullpage .contact .tit h1{
    margin-bottom:50px;
    position: relative;
}
#fullpage .contact .tit h1:before{
    content:'';
    width: 100px;
    height: 2px;
    background: #fff;
    position: absolute;
    left:50%;
    top:110px;
    transform:translateX(-50%);

}


/* -------------- 모바일 버튼 ----------------- */
#fullpage .home .m_btn{
    /* border:1px solid red; */
    width: 30px;
    height: 30px;
    position: absolute;
    right:16px;
    top:50%;
    transform: translateY(-50%);
}
#fullpage .home  .m_btn .line{
    display:block;
    width: 100%;
    height: 100%;
}
#fullpage .home  .m_btn .line span{
    display:block;
    width: 20px;
    height: 2px;
    background: #333;
    position: absolute;
    left: 0;
    top:50%;
    transform:translateY(-50%);   
    transition:all 0.3s ease;
}
#fullpage .home  .line span:before{
    content:'';
    width: 30px;
    height: 2px;
    background: #333;
    position: absolute;
    left: 0;
    top:-14px;
    transition:all 0.3s ease;
}
#fullpage .home  .m_btn .line span:after{
    content:'';
    width: 30px;
    height: 2px;
    background: #333;
    position: absolute;
    left: 0;
    top:14px;
    transition:all 0.3s ease;
}
#fullpage .home  .m_btn .line.on span{
    background: rgba(0,0,0,0);
}
#fullpage .home  .m_btn .line.on span:before{
    transform: rotate(45deg);
    top:0;
}
#fullpage .home  .m_btn .line.on span:after{
    transform: rotate(-45deg);
    top:0;
}


